/*.done input:checked,
.done input:checked + span {
  display: none;
}*/

.done .aufgabe:has(input:checked) {
  display: none;
}

.open .aufgabe:not(:has(input:checked)) {
  display: none;
}

.all .aufgabe {
  display: block;
}
